html, body{
  background-color: rgb(43, 18, 18);
  color: aliceblue;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 70vw;
  margin: 0 auto;
  padding-top: 5%;
  border: 1px white solid;
  border-radius: 30px;
  margin-top: 5%;
}

.note{
  margin-top: auto;
  justify-self: flex-end;
  text-align: center;
}